* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
    font-family: "PasseoOne";
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "PasseoOne";
    src: url(../font/PasseroOne-Regular.ttf);
}

:root {
    /* light */
    --fundo-principal: #f2f2f2;
    --fundo-card: #f2e7ae;
    --destacar: #f29f05;
    --texto: #1e1e1e;
    --texto-secundario: #f2e7ae;
}



body {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/fundo-5.jpg) center/cover no-repeat;
}

nav {
    /*90vh*/
    height: 8vh;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--destacar);
    padding: 10px;
    border-radius: 0 0 20px 20px;
    z-index: 100;
}

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10%;
}

nav>ul>li {
    list-style: none;
    font-size: 18px;
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--texto);
    position: relative;
}

nav>ul>li>a::before {
    content: " ";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 4px;
    border-radius: 20px;
    background-image: linear-gradient(90deg, var(--fundo-card), var(--texto-secundario));
    transition: 0.3s ease-out;
}

nav>ul>li>a:hover:before {
    width: 100%;
}

.icone {
    position: absolute;
    left: 10%;
}

.icone img {
    width: 45px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    transition: 0.3s ease-in;
}

.icone img:hover {
    scale: 1.04;
}

aside {
    position: fixed;
    width: 30vw;
    bottom: 0;
    top: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-aside {
    position: relative;
    width: 85%;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 88vh;
    gap: 8px;
    border: 2px solid var(--texto-secundario);
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px var(--destacar);
    overflow: auto;
    scrollbar-color: var(--destacar) transparent;
    cursor: url(../img/cursor_pena.png), auto;
}

.img {
    width: 100%;
}


.img img {
    border-bottom: 5px solid var(--fundo-card);
    height: 280px;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    width: 100%;
    object-fit: cover;
    object-position: top;


}


.dados-aside {
    text-align: center;
    color: var(--destacar);
    font-size: 28px;

}

.sobre-aside {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 5px;
    margin: 10px 15px;
    text-align: left;
    font-size: 18px;
    color: var(--texto-secundario);
    cursor: url(../img/cursor_pena.png), auto;
}

.sobre-aside audio {
    display: none;
}

.sobre-aside img {
    width: 40px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.sobre-aside img:hover {
    transform: scale(1.05);
}



main {
    width: 65vw;
    margin-left: 32vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    margin-top: 1vh;
    scroll-margin-top: 70px;
    width: 98%;
    /*88vh*/
    min-height: 88vh;
    border: 2px solid var(--texto-secundario);
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px var(--destacar);
    border-radius: 20px;
    padding: 10px;
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio video {
    width: 95%;
    height: 600px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    border: 5px solid var(--destacar);
}


.loading {
    overflow: hidden;
    position: relative;
    border: none;
    background: none;
    cursor: default;
    border-radius: 20px;
    border: none;
}

.loading::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, var(--fundo-card), var(--texto), var(--fundo-card));
    width: 100%;
    height: 100%;
    border: 2px solid var(--destacar);
    border-radius: 20px;
    animation: loading 1.5s ease-in infinite;
    background-size: 400%;
}

@keyframes loading {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }

}

.tema {
    color: var(--destacar);
    font-size: 1.3em;
}

.origem {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.origem .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}


.origem .conteudo p {
    color: var(--fundo-card);
    font-size: 1.2em;
    text-indent: 20px;
    text-align: justify;
}

.origem .conteudo img {

    margin: 8px 0;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}

.culturas {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.culturas .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}


.culturas .conteudo p {
    color: var(--fundo-card);
    font-size: 1.2em;
    text-indent: 20px;
    text-align: justify;
}

.culturas .conteudo img {

    margin: 8px 0;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}

.arte {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}


.arte .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}


.arte .conteudo p {
    color: var(--fundo-card);
    font-size: 1.2em;
    text-indent: 20px;
    text-align: justify;
}