* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    font-family: "PasseoOne";
}

@font-face {
    font-family: "PasseoOne";
    src: url(../font/PasseroOne-Regular.ttf);
}

:root {
    /*light mode*/
    --fundo-principal: #f2f2f2;
    --fundo-card: #f2e7ae;
    --destacar: #f29f05;
    --texto: #1e1e1e;
    --texto-secundario: #f2e7ae;
}


body {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/fundo-5.jpg) center/cover no-repeat;
    background-attachment: fixed;
    background-color: black;

}

nav {
    z-index: 100;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--destacar);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 0 0 20px 20px;
}

nav input {
    color: var(--texto);
    width: 300px;
    padding: 5px 15px;
    outline: none;
    background-color: var(--fundo-card);
    border-radius: 20px;
    font-size: 20px;
    border: 2px solid var(--texto-secundario);
    cursor: url(../img/cursor_pena.png), auto;

}

nav img {
    width: 40px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: 0.3s;
}

nav img:hover {
    border: 3px solid var(--fundo-card);
    border-radius: 100%;
}

.icone {
    position: absolute;
    left: 10%;
}



.icone img {
    width: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    overflow: hidden;

}

.info_site {
    text-align: center;
    position: absolute;
    opacity: 0;
    transform: translateY(30%);
    animation: spinY 35s infinite ease-in;
    width: 90%;
    padding: 20px;


}

.info_site:nth-child(1) {
    animation-delay: 0s;
}

.info_site:nth-child(2) {
    animation-delay: 7s;
}

.info_site:nth-child(3) {
    animation-delay: 14s;
}

.info_site:nth-child(4) {
    animation-delay: 21s;
}

.info_site:nth-child(5) {
    animation-delay: 28s;
}

@keyframes spinY {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }

    2% {
        opacity: 1;
        transform: translateY(0);
    }

    20% {
        opacity: 0;
        transform: translateY(0);
    }

    25% {
        opacity: 0;
        transform: translateY(0);
    }



    100% {
        opacity: 0;
        transform: translateY(-30%);
    }
}

.info_site h1 {
    font-weight: bold;
    color: var(--fundo-card);
    font-size: 60px;
}

.info_site span {
    color: var(--destacar);
}

.culturas {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: calc(80vh - 70px);

}

.culturas::-webkit-scrollbar {
    display: none;
}

.grupo-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3em;
    animation: spin 20s infinite linear forwards;
    padding-right: 3em;

}

.card {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 470px;
    width: 330px;
    border-radius: 20px;
    border: 2px solid var(--texto-secundario);
    background-color: rgba(0, 0, 0, 0.6);
}

/*.card.loading * {
    position: relative;
    border: none;
    background: none;
}

.card.loading *::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, var(--fundo-card), var(--texto), var(--fundo-card));
    width: 100%;
    height: 100%;
    border: 2px solid var(--destacar);
    border-radius:20px;
    animation: loading 1.5s ease-in infinite;
    background-size: 400%;
}*/

.card.loading {
    position: relative;
    border: none;
    background: none;
    cursor: default;
    border-radius: 20px;
    border: none;
}

.card.loading::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, var(--fundo-card), var(--texto), var(--fundo-card));
    width: 100%;
    height: 100%;
    border: 2px solid var(--destacar);
    border-radius: 20px;
    animation: loading 1.5s ease-in infinite;
    background-size: 400%;
}

@keyframes loading {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }

}

.card:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--destacar);

}

.card .img {
    width: 100%;
    height: 230px;
    border-radius: 20px;
}

.card img {
    width: 100%;
    height: 230px;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;
}



.texto {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
    cursor: url(../img/cursor_pena.png), auto;
}

.texto h2 {
    font-size: 26px;
    color: var(--destacar);
}

.texto p {
    font-size: 18px;
    color: var(--texto-secundario);
}

.saber-mais {
    width: 100%;
}

.saber-mais button {
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    padding: 15px 20px;
    width: 100%;
    background-color: var(--fundo-card);
    color: var(--texto);
    font-size: 18px;
    transition: 0.3 ease-in;
}

.saber-mais button:hover {
    background-color: var(--destacar);
}

@keyframes spin {
    0% {
        translate: 0%;
    }

    100% {
        translate: -100%;

    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    width: 100%;
    height: 60px;
    background-color: var(--destacar);

}

footer p {
    text-align: center;
}

.sobre-nos {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.sobre-nos img {
    cursor: pointer;
    width: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    border: 2px solid var(--texto-secundario);
    animation: pulsar 5s infinite  linear;
}

.sobre-nos img:hover {
    animation-play-state: paused;
}

@keyframes pulsar {
    from {
        border: 3px solid var(--texto-secundario);
    }

    to {
        border: 1px solid var(--texto-secundario);
    }
}