@media screen and (max-width:600px) {

    nav {
        min-height: 6vh;
        padding: 0px;
    }

    nav>ul>li {
        list-style: none;
        font-size: 16px;
    }

    .icone {
        left: 5%;
    }

    .icone img {
        width: 35px;
    }


    .conteiner {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 100px;
        flex-direction: column;
        margin-bottom: 40px;
    }

    aside {
        position: relative;
        width: 100%;
        top: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-aside {
        width: 100%;
        border-radius: 20px;
        height: 80vh;
        gap: 2px;
    }

    .img img {
        height: 200px;
        border-radius: 20px 20px 0 0;
    }

    .dados-aside {
        text-align: center;
        color: var(--destacar);
        font-size: 24px;
    }


    main {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    section {
        margin-top: 1vh;
        scroll-margin-top: 70px;
        width: 100%;
        min-height: 80vh;
    }

    .inicio {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .inicio video {
        width: 100%;
        height: 550px;
        object-fit: cover;
    }

    .origem .conteudo img {

        margin: 8px 0;
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center center;
    }

    .culturas .conteudo img {

        margin: 8px 0;
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center center;
    }

    .arte .conteudo img {

        margin: 8px 0;
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center center;
    }

}