@media screen and (max-width:200px) {

}

@media screen and (max-width:600px) {
    nav {
        justify-content: end;
        padding: 8px;
    }

    nav input {
        color: var(--texto);
        width: 200px;
        padding: 8px 13px;
        font-size: 16px;
    }

    nav img {
        width: 30px;
    }

    .icone {
        position: absolute;
        left: 10%;
        top: 6px;
    }

    .icone img {
        width: 45px;
    }


    .info {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 14vh;
        overflow: hidden;

    }

    .info_site {
        width: 100%;
        padding: 10px;
    }

    .info_site h1 {
        font-size: 30px;
    }


    .culturas {
        justify-content: center;
    }

    .grupo-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap:80px;
        animation: none;
        padding-right: 0;
        padding-top: 15px;
        padding-bottom: 10px;

    }

    .grupo-1:nth-child(2) {
        display: none;
        visibility: hidden;

    }


    .card {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 460px;
        width: 320px;
    }

    .card img {
        width: 100%;
        height: 230px;
    }


    .texto h2 {
        font-size: 26px;
        color: var(--destacar);
    }

    .texto p {
        font-size: 18px;
        color: var(--texto-secundario);
    }


    .saber-mais button {
        padding: 10px;
        width: 100%;
        font-size: 16px;
    }

}

@media screen and (min-width:1000px) {

}